@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap');


body {
    font-family: "Noto Sans JP";
    font-weight: lighter;
    --color-bg: #713210;
    background-color: var(--color-bg);
}

h1 {
    text-align: center;
}

.island {
    background-color: white;
    color: black;
    border-radius: 12px;
    border: 4px solid #cbac69;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 1em;
}

.horizontal_container {
    display: flex;
    align-items: center;
}

.description {
    width: 100%;
    background-color: #ECF0F1;
    margin: 10px;
    padding: 10px;
    border-radius: 6px;
}

.important {
    font-weight: bolder;
    color: #102770;
}

table {
    border-spacing: 5px;
}

th, td {
    padding-top: 5px;
    padding-bottom: 5px;
    /* border-radius: 10px; */
}

th {
    color: #FAFAFA;
    background-color: #354546;
    font-size: 17px;
    /* padding: 4px; */
}

td {
    background-color: #d5e5e6;
}

.centering {
    margin-left: auto;
    margin-right: auto;
}

.icon_cell {
    width: 4rem;
    min-width: 4rem;
    text-align: center;
}

.title_cell {
    width: 24rem;
}

.isbn_cell {
    width: 8rem;
    min-width: 8rem;
    text-align: center;
}

.media_type_cell {
    width: 8rem;
    min-width: 8rem;
    text-align: center;
}

.address_cell {
    width: 8rem;
    min-width: 8rem;
}

.read_cell {
    width: 4rem;
    min-width: 4rem;
}
